body{
    background: url(./assets/images/bg_main.gif) center;
}
.cont{
    width: 996px;
    margin: 0 auto;
}
/* topbar start */
.topbar{
    background: rgb(200, 28, 243);
    height: 30px;
    color: white;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 2px solid rgb(245, 18, 18);
}
.topbar_right p{
    display: inline-block;
    border-right: 1px solid white;
    padding-right: 10px;
    margin-right: 10px;
}
.topbar_right a{
    text-decoration: none;
    color: white;
    color: white;
}
/* topbar end */
/* logo start */
.logo{
    height: 110px;
}
.logo_left{
    line-height: 110px;
}
.logo_search{
    padding-top: 55px;
}
form input{
    width: 75%;
}
.logo_right{
    padding-top: 35px;
}
.logo1{
    border-right: 1px solid rgb(228, 204, 204);
    height: 45px;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
    top: 15%;
    
}
.logo2 p{
    font-size: 13px;
    color: blueviolet;
    position: relative;
    top: 15%;
}
/* logo end */
/* menu start */
.navbar ul li a{
    border-right: 1px solid rgb(187, 168, 168);
}
.navbar ul li a:hover{
    background: rgb(32, 197, 142);
    padding: 13px;
}
/* menu start */